*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.title{
  text-align: center;
  margin-top: 20px;
}
#todo-list{
  max-width: 800px;
  margin: auto;
  padding: 40px;
  font-size: 25px;
}
 ul li{
   margin: 10px 10px;
 }
